.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        Happy Kardashian!
.container
  %h2.center
    How many Kardashians have you been together?
  %br
  %p.main_text
    On August 20th, 2011 Kim Kardashian and Kris Humphries were married. 72 short days later, they filed for divorce, ending the fairy-tail romance.
  %br
  %p.main_text
    We have decided that, in order to memorialize the happy couple, and their commitment to one another, we would celebrate the number of Kardashian marriages our relationship held. Or simply put, we would celebrate Kardashians, not years.
  %br
  %p.main_text.center
    Date: 
    %input#datepicker{:type => "text"}
  %br
  %p.main_text
    To find out how may Kardashians you and your significant other have been together, simply fill in your anniversary date above!