.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        Happy Kardashian!
.container
  %h3
    How many Kardashians have you been together?
  %p
    Date: 
    %input#datepicker{:type => "text"}